<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body class="Signin-form">
  <h1 class="FormSection-title">Login to your page!</h1>
  <div class="FormSection-container">
    <Section class="FormSectionImage-container">
      <img src="https://thumbs.dreamstime.com/b/restaurant-cafe-exterior-building-vector-cartoon-illustration-landscape-food-drink-chef-waiter-welcome-88204856.jpg"
        class="FormSection-Image">
    </Section>
    <Section class="UsersNew">
      <%= form_with url: sessions_path do |form| %>
        <div class="Form-section">
          <p class="FormInput-label">Email</p>
          <%= form.email_field :email, class: "Form-input", autofocus: "autofocus" %>
        </div>
        <div class="Form-section">
          <p class="FormInput-label">Password</p>
          <%= form.password_field :password, class: "Form-input" %>
        </div>
        <div class="FormSection-signin">
          <%= form.submit "Sign in", class: "Form-submit" %>
        </div>
      <% end %>
      <hr>
      <div class="FormSection-new">
        <p class="FormSection-text">Create a new account</p>
        <div class="Login-buttons">
          <%= link_to "Create", new_user_path,class: "Form-submit", method: "get" %>
        </div>
      </div>
      <hr>
    </Section>
  </div>
</body>
