<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>

  <body class="Pendingorders-page">
    <div class="back-container">
      <form action="/menus" method="get">
        <%= button_tag(value="Back",class: "Back2") %>
      </form>
    </div>
    <div class="menu-table1">
    <%= form_with(url: "/pendingorders/new", method: "patch") do %>
      <div class="Report" style="color: #ffff;" >
        <h1>Start Date:</h1>
        <%= date_field_tag("from_date", nil, class: "Start" , placeholder: "dd/mm/yyyy") %>
        <h1>End Date:</h1>
        <%= date_field_tag("to_date", nil, class: "End" , placeholder: "dd/mm/yyyy") %>
      </div>
      <%= submit_tag("View Report",class: "View", style: "background-color: mediumvioletred") %>
    <% end %>
    <hr>
    <div class="Report-container">
      <div class="Title-box">
        <h1 class="Orders-title1">Orders Table</h1>
      </div>
    </div>

      <% if @from=="" || @to=="" ||Order.display(@from,@to,@filter)==[]%>
        <div class="Report-container">
          <h1 class="Orders-title2">Orders-not Found </h1>
        </div>
      <% else %>
        <% Order.display(@from,@to,@filter).each do |order|%>
          <div class="Modal-bg" id="<%= order.id%>">
            <div class="Modal">
              <div class="Border">
                <ol>
                  <li class="OrderList">
                    <div class="Box1">
                      <h1>Name : </h1>
                      <h1><%= order.show_name%></h1>
                    </div>
                    <h1>Items</h1>
                    <ul>
                      <% order.orderitems.each do |orderitem|%>
                        <li>
                          <p class="Display-name"><%= orderitem.menuitem_name%></p>
                          <h2 class="Display-total"><%= orderitem.menuitem_quantity%> x <%= orderitem.menuitem_price%> = <%=orderitem.total%></h2>
                        </li>
                      <% end %>
                    </ul>
                    <div style="display:flex;">
                      <h1 class="Display-name1">Total Amount:</h1>
                      <p class="Display-total1">Rs.<%= Order.total(order.id)%></p>
                    </div>
                    <h1>Ordered on</h1>
                    <p><%= order.ordered_at.strftime("%d-%b-%Y")%> at <%= order.ordered_at.strftime("%I:%M %p")%></p>
                    <hr style="color:red;">
                    <div class="Box1">
                      <h1>Delivery status :</h1>
                      <h2 class=<%= order.delivered_at ? "Delivered" : "Pending"%>><%= order.delivered_at ? "Delivered" : "Pending"%></h2>
                    </div>
                    <%= form_with(url: "/orders/#{order.id}", method: "put") do %>
                      <div class="Box1">
                        <%= check_box_tag(name="delivered",
                                          value=nil,
                                          checked=order.delivered_at ? true : false ,
                                          class: "CheckBox",
                                          onclick:"this.form.submit()"
                                          )
                        %>
                        <h1 style="margin-top:0.5vw;">Click this to mark as <%= order.delivered_at ? "Pending" : "Delivered"%></h1>
                      </div>
                    <% end %>
                  </li>
                </ol>
                <input type="image" src="cancel.png" alt="Submit" class="Modal-close" onclick=func1(<%= order.id%>)>
              </div>
            </div>
          </div>
        <% end %>
        <div class="Date" style="margin-left: 5vw;">
        <div>
          <h1>From-Date:</h1>
          <h2><%= @from?Date.parse(@from).strftime("%d/%b/%y"): @fron %></h2>
        </div>
        <div>
          <h1>To-Date:</h1>
          <h2><%= @to?Date.parse(@to).strftime("%d/%b/%y"): @to %></h2>
        </div>
      </div>
      <table class="Report-table" style="background-color: transparent;">
        <tr>
          <th class="menu-namecolumn" style="background-color: #6827b0;">Order-Id</th>
          <th style="background-color: #6827b0;">User-id</th>
          <th style="background-color: #6827b0;">Ordered on</th>
          <th style="background-color: #6827b0;">Delivery status</th>
        </tr>
        <% Order.display(@from,@to,@filter).each do |order|%>
          <tr>
            <td><%= order.id%></td>
            <td><%= order.user_id%></td>
            <td><%= order.ordered_at.strftime("%d-%b-%Y" )%></td>
            <td>
              <%= order.delivered_at ? "Delivered" : "Pending"%>
              <input type="image" src="details.svg" alt="Submit" class="Details1" onclick=func(<%= order.id%>)>
            </td>
          </tr>
        <% end %>
      </table>
      <% end %>
    </div>
  </body>
</html>
<script>
  function func(id){
    var mod = document.getElementById(id);
    mod.style.display="flex";
  }
  function func1(id) {
    var mod = document.getElementById(id);
    mod.style.display="none";
  }
</script>
