<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body class="Userhome-page">
  <form action="/menus" method="get">
    <%= button_tag(value="Back",class: "Back") %>
  </form>
  <div class="User-details">
    <p class="UserDetails-para">User name: <%= @current_user.first_name %></p>
    <p class="UserDetails-para">User id: <%= @current_user.id %></p>
    <div class="Order-details">
      <h1 class="OrderDetails-head">Your orders</h1>
      <% @current_user.orders.order(id: :desc).each do |t| %>
        <input type="Button" value="Details" class="Details-button">
        <p class="OrderDetails-para">Order id: <%= t.id %></p>
        <p class="OrderDetails-para">Ordered at: <%= t.ist(t.ordered_at) %></p>
        <p class="OrderDetails-para">Delivered at: <%= t.delivered_at %></p>
        <div class="Status">
          <p>Status:</p>
          <p class="Status-text" style='color: <%= t.delivered_at ? "green" : "red" %>' ><%= t.delivered_at ? "Delivered" : "Pending" %></p>
        </div>
        <hr>
      <% end %>
      <% if @current_user.orders.count == 0 %>
        <p class="OrderDetails-para">You will see your order details once you place an order!</p>
      <% end %>
    <div>
  <div>
</body>
