<!DOCTYPE html>
<html>
  <head>
    <title>Project2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if @current_user or @billingclerk %>
      <p class="User-header">
        <% if @current_user.first_name == "Walk-incustomer" %>
          Welcome <%= @current_billingclerk.first_name %>!
        <% else %>
          Welcome <%= @current_user.first_name %>!
        <%end%>
        <%= link_to "Sign out", destroy_session_path,class: "signout", method: "delete" %>
      </p>
      <div class="header">
        Maharaja Restaurant
      </div>
    <% end %>
    <% if true %>
      <header>
        <p class="Text">Cafeteria</p>
        <input class="Sign-out" type="button" value="Signout">
      </header>
      <input type="checkbox" id="check">
      <label for="check">
        <i class="fas fa-bars" id="btn"></i>
        <i class="fas fa-times" id="cancel"></i>
      </label>
      <nav class="Class">
        <ul class="List">
          <li><a href="/users"> Search Users</a></li>
          <li><a href="/users/checkers"> Manage Checkers</a></li>
          <li><a href="/menuitems"> Manage Menu</a></li>
          <li><a href="/menus"> View Menu</a></li>
          <li class="Orders-design"><a href="/orders"> Sales Report</a></li>
          <li><a href="/orders/users"> Check Order</a></li>
        </ul>
      </nav>
    <% end %>
    <% if flash[:notice] %>
      <p class="Flash-notice">
        <%= flash[:notice] %>
      </p>
    <% end %>
    <% if flash[:error] %>
      <p class="Flash-error">
        <%= flash[:error] %>
      </p>
    <% end %>
    <%= yield %>
  </body>
</html>
